.btnBox {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: start;
    align-items: start;
    gap: 10px;
  }

  @media only screen and (max-width: 430px) {
    .btnBox {
        width: 100vw;
        margin-top: 1rem;
      }
  }

  @media only screen and (max-width: 540px) {
    .btnBox{
      width: auto;
    }
  }