.modal {
  padding: 20px 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(49, 222, 233, 0.03);
  gap: 10px;
  border-radius: 6px;
  border: 1.5px solid #31dee9;
  width: -webkit-fill-available;
}

.ipt-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
  width: -webkit-fill-available;
}

.ipt {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: -webkit-fill-available;
}

.textArea {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: -webkit-fill-available;
}

input {
  width: -webkit-fill-available;
  padding: 10px;
  border: 1.5px solid #31dee9;
  border-radius: 6px;
  outline: none;
  width: -webkit-fill-available;
  background: rgba(49, 222, 233, 0.1);
}

label {
  font-weight: bolder;
  font-size: small;
}

textarea {
  padding: 10px;
  border: 1.5px solid #31dee9;
  border-radius: 6px;
  outline: none;
  background: rgba(49, 222, 233, 0.1);
  width: -webkit-fill-available;
  resize: vertical;
}

@media only screen and (min-width: 600px) {
  .textArea,
  .ipt {
    width: 50%;
  }
}
