.header {
    height: auto;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    gap: 50px;
    animation: 1s ease-out 0s 1 slideInLeft;
  }

  @media only screen and (max-width: 430px) {
    .header{
        width: 100%;
        padding: 20px 0px;
    }
  }