.first {
  width: 100vw;
  height: 100vh;
  background: #141d33;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

@media only screen and (max-width: 430px) {
  .first {
    flex-direction: column;
    height: auto;
    justify-content: start;
    align-items: start;
  }
  .circle {
    left: 0;
    height: 200px;
    width: 200px;
  }
}

@media only screen and (max-width: 768px) {
  .first {
    /* flex-direction: column; */
    justify-content: center;
    align-items: start;
    width: fit-content;
    gap: 10px;
  }
}
@media only screen and (max-width: 820px) {
  .first {
    /* flex-direction: column; */
    align-items: center;
  }
}
