.first {
  width: 100vw;
  height: 100vh;
  background: #141d33;
  /* background: radial-gradient(ellipse at bottom, #1b2735 0%, #141d337e 100%); */
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

@media only screen and (max-width: 430px) {
  .first {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: fit-content;
  }
}

@media only screen and (max-width: 540px) {
  .first {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    height: auto;
  }
}