body {
  position: relative;
}

.overlay {
  position: absolute;
  z-index: 5;
  backdrop-filter: blur(10px);
  background: #141d337e;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  pointer-events: auto;
}

.first {
  width: 100vw;
  height: 100vh;
  background: #141d33;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.circle {
  position: absolute;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  background: #31dee9;
  left: 350px;
  top: 100px;
  filter: blur(100px);
  opacity: 20%;
}

.font {
  color: #31dee9;
  font-size: 1em;
  font-weight: 500;
  text-shadow: rgba(49, 222, 233, 0.12) 0px 15px 30px,
    rgba(49, 222, 233, 0.12) 0px -12px 30px,
    rgba(49, 222, 233, 0.12) 0px 4px 6px, rgba(49, 222, 233, 0.12) 0px 4px 6px,
    rgba(49, 222, 233, 0.12) 0px -3px 5px;
}

.header {
  height: auto;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  gap: 50px;
  animation: 1s ease-out 0s 1 slideInLeft;
}

.border {
  border-radius: 6px;
  border: 1.5px solid #31dee9;
  box-shadow: rgba(49, 222, 233, 0.12) 0px 15px 30px,
    rgba(49, 222, 233, 0.12) 0px -12px 30px,
    rgba(49, 222, 233, 0.12) 0px 4px 6px, rgba(49, 222, 233, 0.12) 0px 4px 6px,
    rgba(49, 222, 233, 0.12) 0px -3px 5px;
}

.btnBox {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: start;
  align-items: start;
  gap: 10px;
}

.btn {
  padding: 0.6em 1.2em;
  background: rgba(45, 123, 128, 0.2);
  text-shadow: rgba(49, 222, 233, 0.12) 0px 15px 30px,
    rgba(49, 222, 233, 0.12) 0px -12px 30px,
    rgba(49, 222, 233, 0.12) 0px 4px 6px, rgba(49, 222, 233, 0.12) 0px 4px 6px,
    rgba(49, 222, 233, 0.12) 0px -3px 5px;
  cursor: pointer;
  transition: 0.25s;
}

button:hover {
  border-color: #ffffff;
  color: #ffffff;
}

button:active {
  border-color: #61e7a4;
  color: #61e7a4;
}

button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding-left: 20px;
  padding-right: 20px;
  height: auto;
  background: rgba(49, 222, 233, 0.12);
  animation: 1s ease-out 0s 1 slideInLeft;
}

.into {
  height: 120px;
  line-height: 20px;
}

.details {
  font-weight: bolder;
  height: auto;
  padding: 5px 10px;
}

.no-border {
  border-radius: 0px;
  outline: none;
}

.social-content {
  height: auto;
  display: flex;
  flex-direction: column;
  width: 130px;
  animation: 2s ease-out 0s 1 fadeIn;
}

a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease-in-out;
}

.link {
  position: relative;
  color: rgb(195, 159, 252);
  text-decoration: none;
}

.link:hover::before {
  width: 100%;
}

.link:active::before {
  width: 100%;
  background-color: #61e7a4;
}

.links {
  width: auto;
  padding: 10px;
  display: flex;
  gap: 10px;
  margin-top: 10px;
  color: #31dee9;
  text-shadow: rgba(49, 222, 233, 0.12) 0px 15px 30px,
    rgba(49, 222, 233, 0.12) 0px -12px 30px,
    rgba(49, 222, 233, 0.12) 0px 4px 6px, rgba(49, 222, 233, 0.12) 0px 4px 6px,
    rgba(49, 222, 233, 0.12) 0px -3px 5px;
  cursor: pointer;
  font-size: 1rem;
}

i {
  transition: 0.2s all ease-in-out;
}

i:hover {
  border-color: #ffffff;
  color: #ffffff;
}

i:active {
  border-color: #61e7a4;
  color: #61e7a4;
}

.content {
  height: 90vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 50px;
  background: rgba(49, 222, 233, 0.1);
  overflow-y: hidden;
  overflow: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  animation: 1s ease-out 0s 1 slideInRight;
}

.content::-webkit-scrollbar {
  display: none;
}

.box {
  height: auto;
  width: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: rgba(49, 222, 233, 0.03);
  gap: 10px;
  padding-bottom: 10px;
  border-radius: 6px;
  border: 1.5px solid #31dee9;
}

.font--header {
  color: #31dee9;
  font-size: 1.5em;
  font-weight: 500;
  text-shadow: rgba(49, 222, 233, 0.12) 0px 15px 30px,
    rgba(49, 222, 233, 0.12) 0px -12px 30px,
    rgba(49, 222, 233, 0.12) 0px 4px 6px, rgba(49, 222, 233, 0.12) 0px 4px 6px,
    rgba(49, 222, 233, 0.12) 0px -3px 5px;
  letter-spacing: 1px;
  font-weight: bolder;
  margin-left: 15px;
}

.content-box {
  height: auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  background: rgba(49, 222, 233, 0.05);
  padding: 5px;
  border-radius: 6px;
  border: 1.5px solid #31dee9;
}

.invi {
  width: 95%;
}

.skill {
  padding: 5px 10px 5px 10px;
  background: rgba(49, 222, 233, 0.12);
  border-radius: 6px;
  border: 1.5px solid #31dee9;
}

.skill-arrange {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.certificates-link {
  text-decoration: none;
  padding: 5px 10px;
  transition: 0.2s all ease-in-out;
  border: 1px solid #31dee9;
  border-radius: 6px;
  color: #31dee9;
  cursor: pointer;
}

.certificates-link:hover {
  color: rgb(195, 159, 252);
  border: 1px solid rgb(195, 159, 252);
}

.certificates-link:active {
  color: #61e7a4;
  border: 1px solid #61e7a4;
}

.gap-between {
  display: flex;
  /* flex-direction: column; */
  width: 90%;
  align-items: start;
  justify-content: space-between;
  height: 50px;
  gap: 20px;
}

.ani {
  animation: 1s ease-out 0s 1 slideInRight;
}

.modal {
  position: absolute;
  height: 500px;
  width: 700px;
  left: 20.5rem;
  top: 5rem;
  background: rgba(49, 222, 233, 0.1);
  gap: 10px;
  padding-bottom: 10px;
  border-radius: 6px;
  border: 1.5px solid #31dee9;
  z-index: 10;
  backdrop-filter: blur(10px);
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-size: cover;
}

.hidden {
  display: none;
}

.ipt-box {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-around;
}

.ipt {
  display: flex;
  flex-direction: column;
  align-items: start;
}

input {
  width: 250px;
  padding: 10px;
  border: 1.5px solid #31dee9;
  border-radius: 6px;
  outline: none;
  background: rgba(49, 222, 233, 0.1);
}

label {
  font-weight: bolder;
  font-size: small;
}

textarea {
  padding: 10px;
  border: 1.5px solid #31dee9;
  border-radius: 6px;
  outline: none;
  background: rgba(49, 222, 233, 0.1);
  resize: none;
}

.certificate-modal {
  height: auto;
  width: 700px;
  background-size: cover;
  z-index: 10;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

/* scroll animation classes */
.scroll {
  transform: translateY(-30px);
  opacity: 0;
  transition: 1s;
}
.scroll--show {
  transform: translateY(0px);
  opacity: 1;
}